@import "~style/imports";
@import "./transitions";

body {
  margin: 0;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
  height: 100%;
  overflow: hidden;
}

.material-icons {
  font-size: inherit;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  display: inline-block;
  cursor: inherit;
  position: relative;
  top: -.08em;
}

.emojione {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

a {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: lighten($primary-color, 30%);
  }
}

button,
input {
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  padding: 12px 24px;
  border-radius: 2px;
}

button {
  background: $primary-color;
  color: white;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: background .3s;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  &:hover {
    background: lighten($primary-color, 10%);
  }

  &:active {
    background: darken($primary-color, 10%);
  }

  &.fab {
    position: fixed;
    z-index: 1;
    bottom: 24px;
    right: 18px;
    font-size: 24px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(black, .3);

    > i {
      top: 0;
    }
  }
}

input {
  background: white;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px $md-grey-100;
  border-bottom: solid 2px $md-grey-300;
  text-align: left;

  &:focus {
    border-bottom-color: $primary-color;
  }
}

.search-input {
  position: relative;
  display: block;

  input {
    padding-left: 42px;
  }

  .icon {
    position: absolute;
    top: 14px;
    left: 14px;
    font-size: 20px;
    color: black;
  }
}

.hero,
.empty {
  color: $md-grey-400;
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.fill {
    height: 100%;
  }
}

.empty {
  @media ({$small-screen}) {
    font-size: 22px;
  }
}

.hero {
  font-size: 24px;

  > .icon {
    font-size: 42px;
    opacity: .5;
  }
}

.tooltip {
  display: none;
  opacity: 0;
  transition: opacity .15s;
  pointer-events: none;
  padding: 4px;
  z-index: 10000;
  font-size: 14px;

  .tooltip-content {
    background: rgba(black, .7);
    color: white;
    border-radius: 2px;
    padding: 5px 10px 4px;
  }

  &.tooltip-open-transitionend {
    display: block;
  }

  &.tooltip-after-open {
    opacity: 1;
  }
}

.markdown {
  img {
    max-width: 100%;
  }

  :first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3 {
    font-weight: 300;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 30px;
    color: lighten(black, 30%);
  }

  h3 {
    font-size: 24px;
    color: lighten(black, 50%);
  }

  blockquote {
    border-left: solid 6px $primary-color;
    margin-left: 0;
    padding: 6px 12px;

    :last-child {
      margin-bottom: 0;
    }
  }

  code,
  pre {
    background: darken(white, 5%);
    border-radius: 2px;
    color: darken($primary-color, 50%);
  }

  code {
    padding: 0 2px;
  }

  pre {
    padding: 12px;
    overflow-x: auto;
  }

  hr {
    border: none;
    border-top: solid 1px rgba($primary-color, .5);
  }

  ul {
    margin-bottom: 24px;
    padding-left: 24px;
  }

  li {
    margin: 10px 0;
  }
}

.page-content {
  section {
    margin: 12px;
  }
}

.badges,
.badge-group {
  display: inline-flex;
  align-items: center;
}

.badge {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 12px;
  color: white;
  background: grey;
  vertical-align: text-top;
}

.badge,
.badge-group {
  &:not(:last-child) {
    margin-right: 4px;
  }
}

.badge-group {
  .badge {
    background: lighten($primary-color, 15%);
    margin-right: 0;

    &:not(:last-child) {
      border-right: solid 1px white;
    }

    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
      background: $primary-color;
    }

    &:first-child:last-child {
      border-radius: 3px;
    }
  }
}

// Mobile

@media ({$not-small-screen}) {
  .mobile-only {
    display: none;
  }
}
